@import "tailwindcss";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.font-playfair {
  font-family: "Playfair", serif !important;
}
